{% extends "base.html" %}
{% block content %}

{%for row in rows%}
<center>
<div class="card text-left mt-5" style="width: 35rem;">
  <div class="card-body">
      <form action = "{{url_for('editdonor',id=row['id'])}}" method = "POST">
         <h3>Donor Information</h3>
         BLOOD Group<br>

         <select name="blood_group" class="form-control">
            <option value="O+" selected>O+</option>
           <option value="O-">O-</option>
           <option value="A+">A+</option>
           <option value="A-">A-</option>
           <option value="B+">B+</option>
           <option value="B-">B-</option>
           <option value="AB+">AB+</option>
           <option value="AB-">AB-</option>
         </select>

         <label for="name">Name</label>
         <input type = "text" name = "donorname" class="form-control" value="{{row['donorname']}}" required/><br>

         <label for="gender">gender</label>
         <div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="male" checked>
  <label class="form-check-label" for="exampleRadios1">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="female">
  <label class="form-check-label" for="exampleRadios2">
    Female
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="other">
  <label class="form-check-label" for="exampleRadios2">
    Other
  </label>
</div>

<label for="qty">qty</label>

         <input type = "text" name = "qty" class="form-control" value="{{row['qty']}}" required/><br>
<label for="dweight">donor weight</label>

         <input type = "text" name ="dweight" class="form-control" value="{{row['dweight']}}" required/><br>

  <label for="email">Email</label>
         <input type = "text" name ="email" class="form-control" value="{{row['donoremail']}}" required/><br>

      <label for="phone">Phone</label>
         <input type = "text" name ="phone" class="form-control" value="{{row['phone']}}" required/><br>
         <input type = "submit" value = "submit" class="btn btn-primary" /><br>

      </form>
    </div>
  </div>
</center>

 {%endfor%}
  {% endblock %}
